<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>电信资费管理系统</title>
        <link type="text/css" rel="stylesheet" media="all" href="../styles/global.css" />
        <link type="text/css" rel="stylesheet" media="all" href="../styles/global_color.css" />
        <script language="javascript" type="text/javascript">
            //排序按钮的点击事件
            function sort(btnObj) {
                if (btnObj.className == "sort_desc")
                    btnObj.className = "sort_asc";
                else
                    btnObj.className = "sort_desc";
            }

            //启用
            function startFee() {
                var r = window.confirm("确定要启用此资费吗？资费启用后将不能修改和删除。");
                document.getElementById("operate_result_info").style.display = "block";
            }
            //删除
            function deleteFee() {
                var r = window.confirm("确定要删除此资费吗？");
                document.getElementById("operate_result_info").style.display = "block";
            }
        </script>
    </head>
    <body>
        <!--Logo区域开始-->
        <div id="header">
            <img src="../images/logo.png" alt="logo" class="left"/>
            <a href="#">[退出]</a>            
        </div>
        <!--Logo区域结束-->
        <!--导航区域开始-->
        <div id="navi">
            <ul id="menu">
                <li><a href="../index.html" class="index_off"></a></li>
                <li><a href="../role/findByPage" class="role_off"></a></li>
                <li><a href="../admin/admin_list.html" class="admin_off"></a></li>
                <li><a href="../fee/findByPage" class="fee_on"></a></li>
                <li><a href="../account/findByPage" class="account_off"></a></li>
                <li><a href="../service/tosearchService" class="service_off"></a></li>
                <li><a href="../bill/bill_list.html" class="bill_off"></a></li>
                <li><a href="../account/findByPageBaobiao" class="report_off"></a></li>
                <li><a href="../login/userinfo" class="information_off"></a></li>
                <li><a href="../login/toupdatePwd" class="password_off"></a></li>
            </ul>
        </div>
        <!--导航区域结束-->
        <!--主要区域开始-->
        <div id="main">
            <form action="" method="post">
                <!--排序-->
                <div class="search_add">
                    <div>
                        <!--<input type="button" value="月租" class="sort_asc" onclick="sort(this);" />-->
                        <input type="button" value="基费" class="sort_asc" onclick="sort(this);" />
                        <input type="button" value="时长" class="sort_asc" onclick="sort(this);" />
                    </div>
                    <input type="button" value="增加" class="btn_add" onclick="location.href='toaddcost';" />
                </div>
                <!--启用操作的操作提示-->
                <div id="operate_result_info" class="operate_success">
                    <img src="../images/close.png" onclick="this.parentNode.style.display='none';" />
                    删除成功！
                </div>
                <!--数据区域：用表格展示数据-->
                <div id="data">
                    <table id="datalist">
                        <tr>
                            <th>资费ID</th>
                            <th class="width100">资费名称</th>
                            <th>基本时长</th>
                            <th>基本费用</th>
                            <th>单位费用</th>
                            <th>创建时间</th>
                            <th>开通时间</th>
                            <th class="width50">状态</th>
                            <th class="width200"></th>
                        </tr>
                            <th:block th:each="el,stat:${pageInfo.list}" >
                            <tr>
                                <td th:text="${el.id}"></td>
                                <td><a href="findById?costId=${cost.id}" th:text="${el.name}"></a></td>
                                <td th:text="${el.baseduration}"></td>
                                <td th:text="${el.basecost}"></td>
                                <td th:text="${el.unitcost}"></td>
                                <td th:text="${el.creatime}"></td>
                                <td th:text="${el.startime}"></td>
                                <td>
                                    <span th:if="${el.status == '0'}" th:text="关闭"></span>
                                    <span th:if="${el.status == '1'}" th:text="开通"></span>
                                    <span th:if="${el.status == '2'}" th:text="删除"></span>
                                </td>
                                <td>
                                    <input type="button" class="btn_start" th:onclick="'location.href=\'changeCost?id=' + ${el.id} + '&page=' + ${pageInfo.pageNum} + '\';'"  th:value="${el.status == '0' ? '暂停' : (el.status == '1' ? '启动' : '删除')}"/>
                                    <th:block th:if="${el.status == '1'}" th:value="暂停"></th:block>
                                    <th:block th:if="${el.status == '0'}" th:value="关闭"></th:block>

                                    <th:block th:if="${el.status != 1}">
                                    <input type="button" id="buttonToHide1" value="修改" class="btn_modify" th:onclick="'location.href=\'toupdateCost?costId=' + ${el.id} + '&page=' + ${pageInfo.pageNum} + '\';'"/>
                                    </th:block>
                                    <th:block th:if="${el.status != 1}">
                                    <input type="button" id="buttonToHide2" value="删除" class="btn_delete" th:onclick="'location.href=\'deleteCost?id=' + ${el.id} + '&page=' + ${pageInfo.pageNum} + '\';'"/>
                                    </th:block>
                                </td>
                            </tr>
                            </th:block>
                    </table>

                    <p>业务说明：<br />
                        1、创建资费时，状态为暂停，记载创建时间；<br />
                        2、暂停状态下，可修改，可删除；<br />
                        3、开通后，记载开通时间，且开通后不能修改、不能再停用、也不能删除；<br />
                        4、业务账号修改资费时，在下月底统一触发，修改其关联的资费ID（此触发动作由程序处理）
                    </p>
                </div>
                <!--分页-->
                <div id="pages">
                    <a href="findByPage?pageNum=1">首页</a>
                    <th:choose>
                        <th:when th:if="${pageInfo.pageNum > 1}">
                            <a th:href="@{'findByPage?pageNum=' + ${pageInfo.pageNum - 1}}">上一页</a>
                        </th:when>
                        <th:otherwise>
                            <a href="#">上一页</a>
                        </th:otherwise>
                    </th:choose>
                    <th:forEach var="nav" begin="${pageInfo.navigateFirstPage}" end="${pageInfo.navigateLastPage}">
                        <th:choose>
                            <th:when th:if="${nav == pageInfo.pageNum}">
                                <a th:href="@{'findByPage?pageNum=' + ${nav}}" class="current_page"><span th:text="${nav}"></span></a>
                            </th:when>
                            <th:otherwise>
                                <a th:href="@{'findByPage?pageNum=' + ${nav}}"><span th:text="${nav}"></span></a>
                            </th:otherwise>
                        </th:choose>
                    </th:forEach>
                    <th:choose>
                        <th:when th:if="${pageInfo.pageNum < pageInfo.pages}">
                            <a th:href="@{'findByPage?pageNum=' + ${pageInfo.pageNum + 1}}">下一页</a>
                        </th:when>
                        <th:otherwise>
                            <a href="#">下一页</a>
                        </th:otherwise>
                    </th:choose>
                    <a th:href="@{'findByPage?pageNum=' + ${pageInfo.pages}}">末页</a>
                </div>
            </form>
        </div>
        <!--主要区域结束-->
        <div id="footer">
            <span>[Copyright © 1996-2024 NET Corporation, All Rights Reserved]</span>
            <br />
            <span>版权所有(C)  Company  NET</span>
        </div>
    </body>
</html>
